extends main.pug

block content
    div(class="bgc-white bd bdrs-3 p-20 mB-20")
        h4 #{localization.analysisDetail}
        hr(class="divider")
        a(href="../qaanalysisheaderoperation?operation=add")
            button(type="button" class="btn btn-success btn-sm" style="font-size:14px !important; margin-bottom:15px;")
                span(class="icon-holder")
                    i(class="c-white-500 ti-plus")
                    span(class="title" style="margin:14px") #{localization.addNewAnalysisDetail}
        